<<<<<<< HEAD
header {
	background-color:#FF0000;
	height:70px;
	width:100%;
}
=======
header {
	background-color:#FF0000;
	height:70px;
	width:100%;
}
>>>>>>> 88d383fb3fafc32f93275b21d70b25a76c0d457d
