<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/styles/4-common.css">
    <link rel="stylesheet" href="../static/styles/3-header.css">
    <link rel="stylesheet" href="../static/styles/3-footer.css">
    <link rel="stylesheet" href="../static/styles/6-filters.css">
    <link rel="stylesheet" href="../static/styles/8-places.css">
    <LINK rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="icon" href="../static/images/icon.png" type="image/png">
    <title>AirBnb Clone</title>
  </head>
  <body>
    <header>
      <div class="logo">
      </div>
    </header>
    <div class="container">
      <section class="filters">
	<div class="locations">
	  <h3>States</h3>
	  <h4>California, New York...</h4>
	  <ul class="popover">
	    {% for state in states.values()|sort(attribute="name") %}
                                          <LI><STRONG>{{ state.name }}</STRONG>
                                                <UL>
                                                      {% for city in state.cities|sort(attribute="name") %}
                                                      <LI>{{ city.name }}</LI>
                                                      {% endfor %}
                                                </UL>
                                          </LI>
                                          {% endfor %}
	      </ul>
	    </li>
	  </ul>
	</div>
	<div class="amenities">
	  <h3>Amenities</h3>
	  <h4>Laundry, Internet...</h4>
	  <ul class="popover">
        {% for amenity in amenities.values()|sort(attribute="name") %}
        <LI>{{ amenity.name}}</LI>
        {% endfor %}
	  </ul>
	</div>
	<button>
	  Search
	</button>
      </section>

      <section class="places">
	<h1>Places</h1>
    {% for place in places.values()|sort(attribute="name") %}
	<article>
    <DIV class="title_box"></DIV>
	  <h2>{{ place.name }}</h2>
	  <div class="price_by_night">&#36;{{ place.price_by_night }}</div>
    </DIV>

	  <div class="information">

	    <div class="max_guest">
	      <div class="guest_image"></div>
	      <BR>{{ place.max_guest }} Guests
	    </div>

	    <div class="number_rooms">
	      <div class="bed_image"></div>
	      <BR>{{ place.number_rooms }} Rooms
	    </div>

	    <div class="number_bathrooms">
	      <div class="bath_image"></div>
	      <BR>{{ place.number_bathrooms }} Bathrooms
	    </div>
	  </div>

	  <div class="user">
	    <p><b>Owner: </b>{{ place.user.first_name }} {{ place.user.last_name }}</p>
	  </div>

	  <div class="description">
	    <p>{{ place.description|safe }}</p>
	  </div>
      <DIV class="amenities">
        <H2>Amenities</H2>
        {% for amenity in place.amenities|sort(attribute="name") %}
        <UL>
              <LI>
                    <P>{{ amenity.name }}</P>
              </LI>
        </UL>
        {% endfor %}
  </DIV>

  <DIV class="reviews">
        <H2>{{ place.reviews.__len__() }} Reviews</H2>
        {% for review in place.reviews %}
        <H3>From {{ review.user.first_name }} the {{ review.created_at.date().__str__() }}
        </H3>
        <UL>
              <LI>
                    <P>{{ review.text|safe }}</P>
              </LI>
        </UL>
        {% endfor %}
  </DIV>
	</article>
    {% endfor %}

	
      </section>
    </div>
    <footer>
      <p>
	Best School
      </p>
    </footer>
  </body>
</html>
